/* swipers-overrides.css */
/* setas */
.swiper-button-next,
.swiper-button-prev {
  color: #d70005 !important;
    width: 25px !important;
}

/* bullets inativos */
.swiper-pagination-bullet {
  background: #d70005 !important;
  opacity: 0.3;
}
/* bullet ativo */
.swiper-pagination-bullet-active {
  background: #d70005 !important;
  opacity: 1;
}
