@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-slide-in-right {
    animation: slide-in-right 0.3s ease-out;
  }

  @keyframes slide-in-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }
}

@layer utilities {
  .animate-slide {
    animation: slide 30s linear infinite;
  }

  @keyframes slide {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}


body {
  background-color:#fef7f7;
}